*{
    font-family: 'Roboto', sans-serif;
}
body{
}

header{
    /* width:100%; */
    position: relative;
   
}
nav{
    position: fixed;
    width: 100%;
    height: 51px;
    background-color: #212121;
    z-index: 10;
}
.hamburger{
    display: none;
}
.menu_head {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: 0;
    padding: 13px 70px;
}
.menu_item {
    list-style: none;
    border-right: 2px dotted #000;
    padding-right: 28px;
}
.menu_link {
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}
.menu_link:hover{
    padding: 5px;
    font-size: 16px;
    color: #ffffff;
    border: 0.3px dotted #ffffff;
    border-radius:5px;
    text-decoration: none;
    transition: 0.5s all;
}

.menu_head li:last-child{
    content:'';
    border-right:none;
}

.subheader {
    padding-right: 0px;
    margin-top: 51px;
    position: absolute;
    width: 100%;
    min-height: 84px;
    background-color:rgba(0, 0, 0, 0.6) ;
}

/* .subheader_logo {
} */
.subheader_img {
    display: block;
    margin-top: 9px;
}
.subheader_logoTxt {
    margin-top: 5px;    
    opacity: 0.5;
    font-size: 13px;
    font-weight: 100;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}
.subheader_call {
    margin-top: 19px;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
    color: #ffffff;
    line-height: 12px;
}
.subheader_tel {
    display: block;
    margin-top: 8px;
    font-size: 22px;
    font-weight: 400;
    text-align: right;
    color: #ffffff;
   
}
.subheder_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    }
    .subheder_btn:hover{
        background-image:none;
        background: #1eacc7;
        transition: 0.5s all;
        font-size: 17px;
    }
    .promo {
        min-height: 800px;
        background: url("../img/mainBG.jpg") center center/cover no-repeat;
        padding: 200px 0 135px 0;
    }
    .promo_head {
        font-size: 60px;
        font-weight: 700;
        text-align: center;
        color: #ffffff;
        line-height: 60px;
        margin-bottom: 0px;
    }
    .promo_subhead {
        margin-top: 22px;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        color: #ffffff;
        line-height:36px; 
        margin-bottom: 0px;
    }
    .promo_src {
        margin-top: 22px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.33;
        text-align: center;
        color: #ffffff;
    }
    .promo_btn {
        display: block;
        margin: 118px auto 0;
        width: 259px;
        height: 63px;
        box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
        border:none;
        border-radius:4px;
        background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
    }
    .promo_btn:hover{
        background-image:none;
        background: #1eacc7;
        transition: 0.5s all;
        font-size: 18px;
    }



    .work {
        min-height: 900px;
        padding: 71px 0 68px 0;
    }
    .work_head {
        margin: 0 auto;
        line-height: 26px;
        width: 112px;
        height: 24px;
        background-color: #000000;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 300;
        text-align: center;
        color: #ffffff;
    }
    .work_subheader {
        margin-top: 38px;
        margin-bottom: 40px;
        font-size: 38px;
        font-weight: 700;
        text-align: center;
        color: #222222;
    }
    
    .col-md-6 {
        margin-bottom: 35px;
    }
    .work_content{
        display: flex;
        /* justify-content: space-between; */
    }
    .work_img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 113px;
        margin-right: 26px;
        width: 113px;
        height: 113px;
        background-color: #1eacc7;
        border-radius:50%;
    }
    .work_info {
        flex: 0 1 342px;
    }
    .work_info_head {
        font-size: 17px;
        font-weight: 400;
        line-height: 17px;
        color: #1eacc7;
    }
    .work_info_txt {
        margin-top: 7px;
        font-size: 15px;
        font-weight: 300;
        line-height: 20px;
        text-align: justify;
        color: #202020;
    }

    .application {
        padding: 48px 0 80px 0;
        background:url("../icon/bg_section.png") repeat;
        min-height: 864px;
    }
    .application_head {
        margin: 0 auto;
        width: 112px;
        height: 24px;
        background-color: #000000;
        font-size: 11px;
        font-weight: 300;
        line-height: 26px;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;
    }
    .application_subhead {
        margin-top: 38px;
        font-size: 38px;
        font-weight: 700;
        line-height: 38px;
       text-transform: uppercase;
        text-align: center;
        color: #222222;
    }
    .application_descr {
        margin-top: 17px;
        margin-bottom: 40px;
        font-size: 17px;
        font-weight: 400;
        line-height: 17px;
        text-align: center;
        color: #222222;
    }
    
    .application_content {
        position: relative;
        margin-bottom: 19px;
        width: 320px;
        height: 280px;
    }
    .application_content img{
        /* width:100%; */
        /* height: 100%; */
        display: block;
        margin: 0 auto;
    }
    .cover{
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        }
    .application_text {
        position: absolute;
        margin:0 auto;
        top:92px;
        right: 0;
        left: 0;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        z-index: 3;
    }
    .application_link {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 219px;
        left: 50%;
        transform: translateX(-50%);
        width: 26px;
        height: 26px;
        border-radius:50%;
        background-color: #000000;
        z-index: 2;
    }

    .car {
        position: relative;
        padding: 57px 0 138px 0;
        background: url('../icon/bg_section.png') center center/cover;
        min-height: 897px;
    }
    .car::after{
        content:'';
        position: absolute;
        width: 100%;
        height: 499px;
        background-color: #070716;
        top: 0;
        z-index: 1;
    }
    .car_promo {
        position: relative;
        z-index: 3;
        margin: 0 auto;
        width: 112px;
        height: 24px;
        background-color: #ffffff;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 300;
        line-height: 28px;
        text-align: center;
        color: #070716;
    }
    .head {
        position: relative;
        z-index: 3;
        margin-top: 32px;
        font-size: 38px;
        font-weight: 700;
        line-height: 38px;
        text-align: center;
        color: #ffffff;
    }
    .car_suhead {
        position: relative;
        z-index: 3;
        font-size: 17px;
        font-weight: 400;
        margin-top: 19px;
        line-height: 17px;
        text-align: center;
        color: #ffffff;
    }
    .car_img{
        position: relative;
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-top: 56px;
        z-index: 3;
    }
    .car_end {
        margin-top: 4px;
        font-size: 17px;
        font-weight: 300;
        text-align: center;
        color: #222222;
    }

    .list{
        min-height: 919px;
    }
    .list_promo{
        width: 112px;
        height: 24px;
        background-color: #000000;
        font-size: 11px;
        font-weight: 300;
        line-height: 27px;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        margin: 0 auto;
    }
    .list_head {
        margin-top: 38px;
        margin-bottom: 33px;
        font-size: 38px;
        font-weight: 700;
        line-height: 38px;
        text-align: center;
        text-transform: uppercase;
        color: #222222;
    }
    .list_descr{
        font-size: 22px;
        font-weight: 400;
        color: #1ca8c3;
        margin-bottom: 7px;
      
    }
    .list_descr_red{
        font-size: 22px;
        font-weight: 400;
        color: #ff5656;
        margin-bottom: 7px;
    }
    .list_menu, .list_menu_red {

        /* position: relative; */
     list-style: none;
     padding-left: 19px;
      
    }
    .list_item {
        font-size: 17px;
        font-weight: 300;
        line-height: 34px;
        text-align: left;
        color: #222222;
      
    }
    .list_menu li, .list_menu_red li{
        padding-left: 30px;
        position: relative;
    }
    ul.list_menu li::before{
        content:'';
        position: absolute;
        background:url('../icon/iconSelectBlue_s.svg');
        width: 21px;
        height: 20px;
        top: 8px;
        left: 0px;
    }
    ul.list_menu_red li::before{
        content:'';
        position: absolute;
        background:url('../icon/iconSelectRed_s.svg');
        width: 21px;
        height: 20px;
        top: 8px;
        left: 0px;
    }
    .list_footer {
        font-size: 17px;
        font-weight: 400;
        color: #1ca8c3;
    }

    .world {
        position: relative;
        padding:49px 0 49px 0;
        min-height: 717px;
        background: url('../img/world.jpg')center center/cover no-repeat;
    }
    .world::before{
        content:'';
        position: absolute;
        width: 299px;
        height: 4px;
        background-color: #1fbad6;
        left:50%;
        top:100%;
       transform: translateX(-50%);
       margin-top: 14px;
    }
  
    .world_head {
        margin: 0 auto;
        width: 76px;
        height: 24px;
        background-color: #ffffff;
        font-size: 11px;
        font-weight: 300;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #070716;
    }
    .world_subhead {
        margin-top: 32px;
        font-size: 38px;
        font-weight: 700;
        line-height:38px;
        text-align: center;
        color: #ffffff;
    }
    .world_src {
        margin-top: 20px;
        font-size: 17px;
        font-weight: 400;
        line-height: 17px;
        text-align: center;
        color: #ffffff;
    }
    .world_link a{
        margin-top: 468px;
        display: block;
        text-decoration: none;
        font-size: 15px;
        font-weight: 300;
        line-height: 4.53;
        text-align: center;
        text-transform: uppercase;
        color: #1fbad6;

    } 
    

    .footer {
        padding: 50px 0 31px 0;
        height: 150px;
        border-bottom: 8px solid #070716;
    }
    .footer .row {
        display: flex;
        justify-content:center;
        margin: 0;
        padding: 0 21px;
        flex-wrap: nowrap;
    }
    
    .colum_footer_soc{
        display: flex;
        flex: 0 1 33.333%;
        align-self: center;
        text-align: left;
    }
    .colum_footer_soc img{
        display:block;
        width: 32px;
        height: 30px;
    }
    .colum_footer_soc a{
        display: block;
    }
    .colum_footer_content {
        flex: 0 1 33.333%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 390px;
    }
    .footer_menu {
        display: flex;
        justify-content: space-around;
    }
    .footer_menu a {
        text-decoration: none;
        font-size: 15px;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 15px;
        text-align: right;
        color: #070716;
    }

    .footer_submenu{
        margin-top: 12px;
        display: flex;
        justify-content: space-around;
    }
    .footer_submenu a{
    text-decoration: none;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: #999999;
    }
    .colum_footer_store {
        flex: 0 1 33.333%;
        text-align: right;
         align-self: center;
    }
    .colum_footer_store a{
        text-align: right;
    }
    .fotter_len{
        text-align: center;
    }
    .fotter_len a{
        text-decoration: none;
        margin-top: 19px;
        font-size: 11px;
        font-weight: 400;
        line-height: 11px;
        text-transform: uppercase;
        text-align: center;
        color: #1fbad6;
    }
    .xs-visible{
        display: none;
    }

@media (max-width:1200px){
.menu_link{
        font-size: 13px;
    }
.menu_item {
        padding-right: 18px;
    }
    .promo_head{
        font-size: 50px;
    }
    .promo_subhead{
        font-size: 35px;
    }
    .work_img{
        margin-right: 17px;
    }
    .work_info_txt{
        line-height: 18px;
        font-size: 13px;
    }
    .work_info {
        flex: 0 0 320px;
    }
    .application_content {
        margin-bottom: 15px;
        width: 100%;
    }
    .colum_footer_store img{ 
        width:30%;
    }
    .colum_footer_soc img{
        width:27px;
        height: 26px;
    }

} 
@media(max-width:991px){
    .menu_head{
        padding: 10px 20px;
    }
    .menu_link{
        font-size: 12px;
    }
    .menu_item {
        padding-right: 10px;
    }
    .subheader_logoTxt {
        font-size: 12px;
    }
    .subheader_tel{
        font-size: 20px;
    }
    .subheader_img{
        width:100%;
        margin-top: 20px;
    }
    .subheader_call{
        margin-top: 20px;
    }
    .promo_head{
        font-size: 40px;
    }
    .promo_subhead{
        margin-top: 10px;
        font-size: 30px;
    }
    .work_content {
        display: flex;
        flex-direction: column;
    }
    .work_img {
        margin-right: 0px;
        margin: 0 auto 20px;
    }
    .work_info {
        flex: 0 0 0;
    }
    .work_subheader {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 35px;
    }
    .work_info_head {
        font-size: 15px;
        font-weight: 400;
        color: #1eacc7;
        text-align: center;
    }
    .application_content img{
            width: 75%;
            height: 100%;
    }
    .list_menu, .list_menu_red {
        padding-left: 0px;
    }
    .list_item {
        font-size: 15px;
        line-height: 25px;
    }
    ul.list_menu li::before {
        top: 2px;
    }
    ul.list_menu_red li::before {
        top: 4px;
    }
}
@media(max-width:767px){
.menu_head{
    position: fixed;
    width:50%;
    height: 100vh;
    top:0;
    left:-100%;
    background: rgba(0,0,0, 0.8);
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    transition: 0.7s all;
    overflow: auto;
}
.menu_active{
    left:0;
    transition: 0.7s all;
}
.menu_link{
    font-size: 20px;
}
.menu_item{
    border:none;
}
.hamburger{
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width:26px;
    height: 12px;
    transition: 0.9s all;
}
.hamburger span{
display: block;
width:100%;
height: 2px;
margin-bottom: 2px;
background:#ffffff;
transition: 0.5s all;
}
.hamburger_active{

}
.hamburger_active span:nth-child(1){
    transform:translateY(3px) rotate(-45deg);
    margin-bottom: -2px;
}
.hamburger_active span:nth-child(2){
display: none;
}
.hamburger_active span:nth-child(3){
    transform:translateY(3px) rotate(45deg);
    margin-bottom: -2px;
}
.xs-visible{
    display:block;
}
.xs-hiden{
    display: none;
}
.subheader_call{
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}
.subheder_btn{
display: block;
margin: 0 auto;
margin-top: 10px;
width: 200px;
height: 40px;
}
.application_content {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 75%;
}
.application_text{
    font-size: 20px;
}
.car{
    padding: 30px 0 30px 0;
    min-height: 700px;
}
.footer {
    padding: 30px 0 5px 0;
    height: 170px;
}
.footer .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
}
.colum_footer_soc img{
    margin-left: 5px;
    }
.footer_submenu{
    margin-top: 7px;
}
.colum_footer_soc{
order:3;
margin-top: 5px;
margin-bottom: 5px;
}
.colum_footer_content{
order: 1;
}
.colum_footer_store{
order: 4;
margin-top: 5px;
}
.fotter_len {
    order: 2;
}
.application{
    min-height: 800px;
}
}

@media(max-width:575px){
    nav{
        height: 30px;
    }
    .menu_item {
        width: 100%;
        display: block;
        padding-right: 0;
        text-align: center;
    }
    .subheader{
        margin-top: 30px;
        min-height: 60px;
    }
.subheader_logoTxt{
    display: none;
}
.menu_head{
    width: 85%;
}
.subheader_img{
    margin-top: 20px;
}
.subheader_call{
    font-size: 12px;
    margin-top: 10px;
}
.subheder_btn{
    width: 110px;
    height: 22px;
    font-size: 10px;
    margin-top: 7px;
}
.subheder_btn:hover{
    font-size: 10px;
}
.promo{
     min-height: 400px;   
     padding: 110px 0 30px 0;
}
.promo_btn{
    margin-top: 36px;
    width: 220px;
    height: 50px;
}
.promo_head{
font-size:38px;
margin: 0 20px;
line-height: 50px;
}
.promo_subhead{
font-size: 24px;
line-height: 30px;
}
.subheder_btn:hover, .promo_btn:hover{
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
}
.promo_src{
    display: none;
}
.work {
    min-height: 900px;
    padding: 30px 0 10px 0;
}
.work_subheader{
    margin-top: 7px;
    margin-bottom: 10px;
    font-size: 20px;
}
.work_img{
    width: 100px;
    height: 100px;
    flex: 0 0 100px;
}
.application {
    padding: 10px 0 0 0;
}
.application_subhead {
    margin-top: 20px;
    font-size: 20px;
    line-height: 20px;
}
.application_descr {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
}
.col-md-6 {
    margin-bottom: 20px;
}
.car{
    min-height: 550px;
}
.head {
    margin-top: 20px;
    font-size: 28px;
    line-height: 24px;
}
.car_suhead {
    font-size: 14px;
    margin-top: 23px;
    line-height: 17px;
}
.car_img{
    margin-top: 20px;
}
.car_end {
    position: relative;
    z-index: 3;
    margin-top: 4px;
    font-size: 16px;
    color: #ffff;
}
.list_head {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
}
.footer{
    height: 170px;
}

.footer .row {
    padding: 0px 5px;
}
.colum_footer_content{
    min-width: 100%;
}
.colum_footer_store {
    text-align: center;
}
.footer_menu a{
    font-size: 14px;
}
.footer_submenu {
   margin-top: 10px;
   justify-content: space-between;
}

.footer_submenu a{
    font-size: 9px;
}
.application_content {
    width: 85%;
}
.application_content img{
    width:80%;
}
}