* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@-webkit-keyframes flash {
  0%, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

@-webkit-keyframes shake {
  0%, to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  0%, to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

.btn {
  display: block;
  border: none;
  text-decoration: none;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  border-radius: 25px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.btn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  color: rgba(255, 255, 255, 0.7);
}

.btn-red {
  padding: 13px 20px;
  background: red;
}

.btn-blue {
  padding: 13px 20px;
  background: blue;
}

.post__btn {
  display: block;
  margin-left: 15px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  background: #3137C9 url(../img/icons/send.svg) center no-repeat;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background: #202020;
  -webkit-box-shadow: 0px 5px 20px rgba(49, 55, 201, 0.25);
          box-shadow: 0px 5px 20px rgba(49, 55, 201, 0.25);
}

.sidebar__header {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.sidebar__img {
  display: block;
}

.sidebar__content {
  position: relative;
}

.content__sidebar {
  padding: 0 20px;
}

.content__sidebar__user {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
  border: 2px solid #FFFFFF;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -50px;
}

.content__sidebar__avatar {
  width: 100%;
  height: 100%;
}

.content__sidebar__name {
  margin: 15px 0;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
}

.content__sidebar__prof {
  font-weight: 300;
  text-align: center;
  color: #fff;
  line-height: 20px;
}

.content__sidebar__soc {
  margin-top: 17px;
}

.content__sidebar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__sidebar__nav li {
  width: 25px;
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content__sidebar__nav li + li {
  margin-left: 20px;
}

.content__sidebar__nav li a {
  display: block;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.content__sidebar__descr {
  margin: 25px 0;
  padding: 25px 0;
  border-top: 1px solid #1C1C1C;
  border-bottom: 1px solid #1C1C1C;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}

.content__sidebar__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 300px);
  height: 40px;
  background: #0D0D0D;
  -webkit-box-shadow: 0px 5px 15px rgba(49, 55, 201, 0.25);
          box-shadow: 0px 5px 15px rgba(49, 55, 201, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
}

.nav__mobile {
  display: none;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  display: block;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.nav__item:hover {
  background: #3137C9;
}

.nav__link {
  display: block;
  padding: 14px 15px;
  text-align: center;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.has-subnav {
  position: relative;
  text-align: right;
  padding-right: 30px;
}

.has-subnav::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 11px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #ffffff transparent transparent transparent;
}

.has-subnav:hover .subnav {
  display: block;
}

.subnav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #3137C9;
  width: 165px;
  padding: 10px 12px;
  border-radius: 0 0 5px 5px;
  z-index: 10;
}

.subnav__item {
  display: block;
  text-align: left;
}

.subnav__item:hover {
  background: rgba(44, 47, 122, 0.3);
}

.subnav__link {
  color: #fff;
  font-size: 12px;
  line-height: 25px;
}

.subnav__link:hover {
  background: rgba(49, 55, 201, 0.3);
}

.interaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interaction__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.interaction__item {
  padding: 13px 15px;
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.interaction__item:hover {
  background: #3137C9;
}

.interaction__link {
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.interaction__form {
  width: 210px;
  height: 100%;
}

.interaction__input {
  width: 100%;
  height: 100%;
  background: transparent;
  color: white;
  padding: 0 5px;
}

.interaction__input:focus {
  border: 2px solid #020294;
}

.interaction__input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.4);
}

.interaction__input::-moz-placeholder {
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.4);
}

.interaction__input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.4);
}

.interaction__input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.4);
}

.interaction__input::placeholder {
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.4);
}

.burger {
  cursor: pointer;
  position: relative;
  background: transparent;
  margin: 20px;
  width: 30px;
  height: 100%;
}

.burger span {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 2px;
  background: white;
}

.burger:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 10px;
  left: 0;
  background: white;
}

.burger:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: 10px;
  left: 0;
  background: white;
}

.sidebar-show .burger span {
  display: none;
}

.sidebar-show .burger:after,
.sidebar-show .burger:before {
  top: 50%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sidebar-show .burger:before {
  top: 50%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

main {
  padding-top: 40px;
  padding-left: 300px;
}

.stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 30px;
}

.stories__item {
  position: relative;
  margin-bottom: 10px;
  width: 140px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.stories__item::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(52%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 52%, rgba(0, 0, 0, 0.8) 75%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 52%, rgba(0, 0, 0, 0.8) 75%, rgba(0, 0, 0, 0.8) 100%);
}

.stories__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.stories__title,
.stories__date {
  position: absolute;
  padding: 14px 13px;
  color: #00acd7;
  font-size: 12px;
  line-height: 14.4px;
  z-index: 2;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.stories__title {
  top: 0;
  left: 0;
}

.stories__date {
  bottom: 0;
  right: 0;
}

.stories__link {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 70%;
  z-index: 2;
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.stories__link img {
  display: block;
}

.articles {
  display: none;
  margin-top: 30px;
}

.article {
  position: relative;
  background: #3d3c3ce1;
  margin-bottom: 30px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
}

.article:last-child {
  margin-bottom: 0;
}

.article__img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__prev {
  padding: 25px;
}

.article__title {
  font-size: 18px;
  font-weight: 500;
  color: #FFF;
  margin-bottom: 15px;
}

.article__descr {
  font-size: 14px;
  font-weight: 400;
  color: #D2D2D2;
  line-height: 20px;
}

.article__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 21px;
}

.article__date {
  position: relative;
  color: #828282;
  font-size: 12px;
  margin-right: 36px;
}

.article__date::before {
  content: '';
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #C4C4C4;
  top: 50%;
  left: 100%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 15px;
}

.article__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #828282;
  font-size: 12px;
}

.article__link {
  display: block;
  color: #107EFF;
}

.articles__nav,
.works__nav {
  padding: 50px;
}

.articles__nav-list,
.works__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles__nav-item,
.works__nav-item {
  margin: 0px 5px;
}

.articles__nav-item span,
.works__nav-item span {
  -webkit-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear;
  cursor: pointer;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: #0D0D0D;
  color: #FFF;
  border-radius: 3px;
}

.articles__nav-item-active span,
.works__nav-item-active span {
  background-color: #104BE3;
}

.works__title {
  margin: 60px 0 30px 0;
  font-size: 21px;
  color: #fff;
}

.works__wrapper {
  display: none;
}

.works__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  margin-bottom: 30px;
}

.works__item:last-child {
  margin-bottom: 0;
}

.works__preview {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.works__preview img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.works__about {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.works__title-site {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 30px;
}

.works__descr {
  max-height: 250px;
  overflow: auto;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(210, 210, 210, 0.25);
}

.works__descr::-webkit-scrollbar {
  width: 10px;
}

.works__descr::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

.works__descr::-webkit-scrollbar-thumb {
  background-color: rgba(49, 55, 201, 0.35);
  border-radius: 5px;
}

.works__labels {
  border-radius: 3px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works__labels span {
  font-size: 11px;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  line-height: 20px;
  display: inline-block;
  padding: 4px 9px;
  background-color: #EA8C1E;
  margin-bottom: 5px;
  margin-right: 10px;
}

.works__labels span:last-child {
  margin-right: 0px;
}

.works__footer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__footer a {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: block;
  padding: 8px 14px;
  background-color: #3137C9;
  color: #FFF;
  border-radius: 5px;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  overflow: scroll;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 101;
  padding: 80px 80px 20px 80px;
  background: #202020;
  -webkit-box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.modal__close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #FFF;
  line-height: 0;
}

.modal__form {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__form input,
.modal__form textarea {
  margin-bottom: 25px;
  width: 100%;
  height: 25px;
  background: transparent;
  color: #FFF;
  border-bottom: 1px solid #3F3F3F;
  line-height: 16px;
}

.modal__form input:focus,
.modal__form textarea:focus {
  border-bottom: 1px solid #107EFF;
}

.modal__form textarea {
  resize: none;
}

.modal__btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: inline-block;
  padding: 8px 15px;
  font-size: 12px;
  color: #FFF;
  background-color: #3137C9;
  border-radius: 5px;
}

.modal__footer {
  margin-top: 40px;
  text-align: center;
}

.modal__footer a {
  display: inline-block;
  color: #B2B2B2;
  text-decoration: none;
}

.modal__footer a + a {
  margin-left: 10px;
}

label.error {
  margin-bottom: 20px;
  margin-top: -15px;
  color: #d2d2d2;
  font-size: 12px;
}

input.error {
  border: 0.5px solid #c70101;
}

.level_2 {
  width: 40%;
}

.level_3 {
  width: 55%;
}

.level_4 {
  width: 80%;
}

.level_5 {
  width: 90%;
}

.about {
  margin: 20px 0;
  padding: 30px 10px;
  background-color: #202020;
  border-radius: 5px;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.25);
  text-shadow: 5px 0 5px rgba(16, 126, 255, 0.7);
  letter-spacing: 1.5px;
}

.about__title {
  text-transform: uppercase;
  color: #C4C4C4;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.about__info {
  color: #C4C4C4;
  line-height: 20px;
  text-align: justify;
}

.about__info span {
  margin: 20px 0;
  font-size: 18px;
  display: inline-block;
  border-bottom: 1px solid #107EFF;
  text-transform: uppercase;
  color: #a7a5a5;
  font-weight: 700;
}

.about__list {
  padding: 0 20px;
}

.about__list li + li {
  margin-top: 10px;
}

.about__list li {
  position: relative;
  font-size: 16px;
}

.about__list li::before {
  position: absolute;
  content: '';
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -15px;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #086cd6;
}

.about__skills {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.skills__level {
  display: inline-block;
  color: #107EFF;
  font-size: 20px;
  font-weight: 700;
  margin-right: 10px;
}

.skills__name {
  color: #a7a5a5;
  text-transform: uppercase;
  font-size: 20px;
}

.skills__scale {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 5px;
  background-color: #C4C4C4;
  border-radius: 5px;
  overflow: hidden;
}

.skills__scale span {
  height: 5px;
  display: block;
  background-color: #107EFF;
}

.article__promo-bg {
  background: url("../img/promo/promo_bg.jpg") center center/cover no-repeat;
  padding: 30px 20px;
  margin-bottom: 70px;
}

.article__promo-bg:nth-last-child() {
  margin-bottom: 0;
}

.pd-50 {
  padding: 50px 0;
}

.promo__banner {
  position: absolute;
  top: -30px;
  right: -20px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.promo__banner img {
  width: 100%;
}

body {
  background: #252424;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  max-width: 650px;
  margin: 0 auto;
}

.page {
  position: relative;
}

.no-scroll {
  overflow: hidden;
}

.active {
  display: block;
}

.page_up {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 35px;
  height: 35px;
}

@media (min-width: 768px) {
  .content__sidebar__nav li a:hover {
    -webkit-transform: translateY(-3px) rotate(360deg);
        -ms-transform: translateY(-3px) rotate(360deg);
            transform: translateY(-3px) rotate(360deg);
  }

  .stories__item:hover .stories__link {
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    opacity: 1;
  }

  .article__link:hover {
    text-decoration: underline;
  }

  .articles__nav-item:hover > span,
  .works__nav-item:hover > span {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background-color: #2b2b2c;
  }
}

@media (min-width: 775px) {
  .works__footer a:hover {
    -webkit-animation: flash 1.7s infinite ease-in-out;
            animation: flash 1.7s infinite ease-in-out;
  }

  .modal__btn:hover {
    -webkit-animation: shake 1.5s ease-in;
            animation: shake 1.5s ease-in;
  }

  .modal__footer a:hover {
    -webkit-animation: shake 1s ease-in;
            animation: shake 1s ease-in;
  }
}

@media (min-width: 992px) {
  .burger {
    display: none;
  }

  .page_up:hover {
    -webkit-box-shadow: 0px 10px 25px rgba(199, 1, 1, 0.25);
            box-shadow: 0px 10px 25px rgba(199, 1, 1, 0.25);
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #d2d2d2;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 15px #3137C9;
            box-shadow: 0 5px 15px #3137C9;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(49, 55, 201, 0.9);
    border-radius: 5px;
    border: 2px solid #d2d2d2;
  }
}

@media (max-width: 992px) {
  .sidebar {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    margin-top: 40px;
    height: calc(100vh-40px);
    z-index: 103;
    overflow: scroll;
    padding-bottom: 50px;
  }

  .sidebar-show .sidebar {
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }

  .content__sidebar__user {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 70px;
    height: 70px;
  }

  .content__sidebar__name {
    margin: 5px  0;
    text-align: right;
  }

  .content__sidebar__prof {
    font-size: 12px;
    text-align: right;
  }

  .content__sidebar__nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .content__sidebar__descr {
    display: none;
  }

  .content__sidebar__footer {
    margin-top: 30px;
  }

  .header {
    width: 100%;
  }

  .nav {
    display: none;
  }

  .nav__mobile {
    display: block;
  }

  .nav__menu {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .nav__link {
    font-size: 16px;
    font-weight: 500;
  }

  main {
    padding: 0 10px;
  }

  .stories__link {
    width: 100%;
    height: 100%;
    -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    top: 0;
    left: 0;
    opacity: 1;
  }

  .stories__link img {
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
  }

  .modal {
    padding: 50px 10px 10px 10px;
  }

  .modal__form {
    min-width: 270px;
  }

  .modal__btn {
    padding: 8px 10px;
  }

  .modal__footer a {
    margin-top: 20px;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .stories {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .promo__banner {
    width: 70px;
    right: 0px;
  }
}

@media (max-width: 700px) {
  .works__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: visible;
  }

  .works__preview {
    max-height: 425px;
    overflow: hidden;
  }

  .works__footer {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 20px;
    width: 100%;
  }

  .works__footer a {
    margin-right: 0;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.webp .article__promo-bg { background: url(../img/promo/promo_bg.webp) center center/cover no-repeat; }